<head>
    <title>Upload a file!</title>
</head>
    <body>
        <div class="title">
            <h1>Upload a file to your project</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload?album_id={{ aid }}">
                <label for="uploadFile">Select File:</label>
                <input type="file" name="uploadFile"  /><br />
                <input type="submit" value="Upload" />
            </form>
        {% if message %}
            <h4>{{message}}!</h4>
        {% endif %}
        {% if photopath %}
            {% if fname and pids %}
                {% for img in fname %}
                    <ul>
                        <li>{{ img }} <br/>
                            <img src="{{ photopath }}/{{ img }}" height="80" width="120">
                            {% if tags %}
                                <table>
                                    <tr>
                                        {% for tag in tags[img] %}
                                            <td>
                                                <a href="/tagphoto?tagname={{ tag }}"> {{ tag }} |</a>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            {% endif %}
                            <form action="/upload?album_id={{ aid }}" method="post">
                                <label for="add tag">Add a  new tag here:</label>
                                <input type="text" name="add tag">
                                <input type="hidden" name="imgname" value="{{ img }}">
                                <input type="submit" value="Add">
                                <input type="submit" name="delete_photo"  value="delete" >
                                <input type="hidden" name="photoid"  value={{ img }} >
                            </form>
                            {% if comments %}
                                <table>
                                    <tr>
                                        {% for comment in comments[pids[loop.index0]] %}
                                            <font color="red">{{ comment }} <br/></font>
                                        {% endfor %}
                                    </tr>
                                </table>
                            {% endif %}




                        </li>
                    </ul>
                {% endfor %}

            {% endif %}
        {% endif %}
        <a href="/login"> Back to homepage </a> <br/>
        <a href="/albums"> Back to album menu </a>

    </body>