<head>
    <title>Upload a file!</title>
</head>
    <body>
        <div class="title">
            <h1>Upload a file to your project</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload?album_id={{ aid }}">
                <label for="File">Select File:</label>
                <input type="file" name="uploadFile" required='true' /><br />
                <input type="submit" value="Upload" />
        {% if message %}
            <h4>{{message}}!</h4>
        {% endif %}
        {% if photopath %}
{#            <h1>hello</h1>#}
{#            {% for img in filename %}#}
{#                < img src="{{ url_for('static', filename="/'1'/'18'") }}" height="50", width="100">#}
{#            {% endfor %}#}
{#        {% endif %}#}
            {% if fname %}
{#                <table>#}
{#                    <tbody>#}
                        {% for img in fname %}
                            <ul>
                                <li>{{ img }} <br/>
                                    <img src="{{ photopath }}/{{ img }}" height="80" width="120"></li>
                                     <input type="submit" name="delete" value="Delete" />
                            </ul>
                        {% endfor %}
{#                    </tbody>#}
{#                </table>#}
            {% endif %}
        {% endif %}
            </form>
    </body>